.wrapper {
  padding: 24px;
  background-color: black;
  min-height: 100vh;
}

.list {
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 16px;
  clear: both;
}

.list img {
  height: 40px;
  width: 40px;
  margin: 8px 10px 8px;
}

.index {
  color: #b3b3b3;
  text-align: center;
  font-size: 14px;
  width: 24px;
  margin: 0 8px;
}

.artist {
  color: #b3b3b3;
  font-size: 14px;
}


.tb{
  color: #b3b3b3;
}

.tb > tbody > tr > td > img{
  height: 40px;
  width: 40px;
}